.Witcher1  {
    color: red;
    background-color: black;
    font-size: ¸15pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center ;
}

    .Witcher2  {
        color: red;
        background-color: black;
        font-size: ¸15pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center ;
    }

        .Witcher3  {
            color: red;
            background-color: black;
            font-size: ¸15pt;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center ;
        }

        .Pocetna {
            color:black;
            background-color: red;
            font-size: ¸15pt;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center ;
        }
        
